.rotateLeft {

/* for firefox, safari, chrome, etc. */
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
/* for ie */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);


}

body {
	font-family: Helvetica,Arial;
}
